# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science
- Simple addition and multiplication
- Convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python 
2. Java
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Seaborn
4. Matplotlib

| Data Science Tools |
| -------------------|
| Jupyter Notebook |
| R studio |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

a = (3 * 4) + 5
print(a)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

min_to_hour = 200 / 60
print(min_to_hour)

3.3333333333333335

## Author
Name